<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/sign" method="post">
    <fieldset>
      <legend>Please sign in</legend>
      <p>User: <input type="text" name="user"/></p>

      <p>Pass: <input type="text" name="password"/></p>
      <button>Submit</button>
    </fieldset>
  </form>
  </body>
</html>
