<html>
<head>
	<title></title>
</head>
<body>
<div style="height:400px;width:550px;margin:50px auto;margin-left:auto;border:solid 1px;background: rgb(246, 246, 253);">
    <div style="margin-left: 45px;">
		# 主页
        <form action="#"  role="form" style="margin-top: 90px;">
		# 恭喜_<%= user.username %>_，登陆成功！
            <div style="margin-top: 145px;">
            	[退 出](logout)
                <input  type="button" value="退 出" />
            </div>
        </form>
    </div>
</div>
</body>
</html>